<nav class="nxl-navigation">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="{{ path('app_home') }}" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="{{ asset('assets/images/tgv2.png') }}" alt="" class="logo logo-lg" style="object-fit: contain; width: 100%; height: 70px;" />
                <img src="{{ asset('assets/images/logo-abbr.png') }}" alt="" class="logo logo-sm" style="object-fit: contain; width: 100%; height: 70px;" />
            </a>
        </div>
        <div class="navbar-content">
            <ul class="nxl-navbar">
                <li class="nxl-item nxl-caption">
                    <label>Navigation</label>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-airplay"></i></span>
                        <span class="nxl-mtext">Dashboards</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="{{ path('app_home') }}">Tableau de bord</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Analytiques</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-users"></i></span>
                        <span class="nxl-mtext">Gestion des utilisateurs</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="{{ path('app_customers') }}">Tous les utilisateurs</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="{{ path('app_customers_create') }}">Ajouter un utilisateur</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Rôles des utilisateurs</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-shopping-bag"></i></span>
                        <span class="nxl-mtext">Commerçants</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Liste des commerçants</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Ajouter un commerçant</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Analytiques des commerçants</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-truck"></i></span>
                        <span class="nxl-mtext">Livreurs</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Liste des livreurs</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Ajouter un livreur</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Suivi des livraisons</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-package"></i></span>
                        <span class="nxl-mtext">Commandes</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Toutes les commandes</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Commandes en attente</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Commandes terminées</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Analytiques des commandes</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-cast"></i></span>
                        <span class="nxl-mtext">Rapports</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Rapports des utilisateurs</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Rapports de livraison</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Rapports de revenus</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Rapports de performance</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-dollar-sign"></i></span>
                        <span class="nxl-mtext">Paiements</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Historique des paiements</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Paiements en attente</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Méthodes de paiement</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-map-pin"></i></span>
                        <span class="nxl-mtext">Localisations</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Zones de service</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Zones de livraison</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Analytiques de localisation</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-settings"></i></span>
                        <span class="nxl-mtext">Paramètres</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Paramètres généraux</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Paramètres de livraison</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Paramètres de paiement</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Paramètres email</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Paramètres de sécurité</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-caption">
                    <label>Système</label>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-bell"></i></span>
                        <span class="nxl-mtext">Notifications</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Notifications système</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Notifications utilisateur</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Modèles email</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-activity"></i></span>
                        <span class="nxl-mtext">Journaux système</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Journaux d'activité</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Journaux d'erreurs</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Performance système</a></li>
                    </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-life-buoy"></i></span>
                        <span class="nxl-mtext">Centre d'aide</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="#">Documentation</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">Support</a></li>
                        <li class="nxl-item"><a class="nxl-link" href="#">FAQ</a></li>
                    </ul>
                </li>
            </ul>
            <div class="card text-center">
                <div class="card-body">
                    <i class="feather-truck fs-4 text-primary"></i>
                    <h6 class="mt-4 text-dark fw-bolder">Gestion de livraison</h6>
                    <p class="fs-11 my-3 text-dark">Système complet de gestion de livraison pour vos besoins professionnels.</p>
                    <a href="{{ path('app_customers_create') }}" class="btn btn-primary w-100">Ajouter un utilisateur</a>
                </div>
            </div>
        </div>
    </div>
</nav>
