{% extends 'baseback.html.twig' %}

{% block title %}Modifier réclamation - Admin{% endblock %}
{% block page_title %}Modifier réclamation{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_back_reclamation_index') }}">Réclamations</a></li>
    <li class="breadcrumb-item">Modifier #{{ reclamation.id }}</li>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_row(form.status) }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <a href="{{ path('app_back_reclamation_show', {id: reclamation.id}) }}" class="btn btn-outline-secondary">Annuler</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
