<nav class="nxl-navigation">
    <div class="navbar-wrapper">
        {# Logo / Brand #}
        <div class="m-header">
            <a href="{{ path('admin_dashboard') }}" class="b-brand">
                <img src="{{ asset('assets/images/logo.png') }}" alt="TGV Delivery" class="logo logo-lg" style="height: 150px; width: auto; margin: 15px 0;" />
                <img src="{{ asset('assets/images/logo.png') }}" alt="TGV" class="logo logo-sm" style="height: 100px; width: auto; margin: 12px 0;" />
            </a>
        </div>
        
        {# Navigation Content #}
        <div class="navbar-content">
            <ul class="nxl-navbar">
                {# Navigation Title #}
                <li class="nxl-item nxl-caption">
                    <label>Navigation</label>
                </li>
                
                {# Dashboard #}
                <li class="nxl-item">
                    <a href="{{ path('admin_dashboard') }}" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-airplay"></i></span>
                        <span class="nxl-mtext">Dashboard</span>
                    </a>
                </li>
                
                {# GESTION Section #}
                <li class="nxl-item nxl-caption">
                    <label>Gestion</label>
                </li>
                
                {# Commandes #}
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-shopping-cart"></i></span>
                        <span class="nxl-mtext">Commandes</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ path('app_commande_index') }}">Liste des commandes</a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ path('app_commande_new') }}">Nouvelle commande</a>
                        </li>
                    </ul>
                </li>
                
                {# Produits #}
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-package"></i></span>
                        <span class="nxl-mtext">Produits</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ path('app_produit_index') }}">Liste des produits</a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="{{ path('app_produit_new') }}">Ajouter un produit</a>
                        </li>
                    </ul>
                </li>
                
                {# Clients #}
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-users"></i></span>
                        <span class="nxl-mtext">Clients</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="#">Liste des clients</a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="#">Ajouter un client</a>
                        </li>
                    </ul>
                </li>
                
                {# Livreurs #}
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-truck"></i></span>
                        <span class="nxl-mtext">Livreurs</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="#">Liste des livreurs</a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="#">Ajouter un livreur</a>
                        </li>
                    </ul>
                </li>
                
                {# Rapports #}
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-bar-chart-2"></i></span>
                        <span class="nxl-mtext">Rapports</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="#">Rapport des ventes</a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="#">Rapport des livraisons</a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="#">Statistiques</a>
                        </li>
                    </ul>
                </li>
                
                {# PARAMÈTRES Section #}
                <li class="nxl-item nxl-caption">
                    <label>Paramètres</label>
                </li>
                
                {# Paramètres généraux #}
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-settings"></i></span>
                        <span class="nxl-mtext">Configuration</span>
                        <span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="#">Paramètres généraux</a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="#">Utilisateurs</a>
                        </li>
                        <li class="nxl-item">
                            <a class="nxl-link" href="#">Zones de livraison</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            {# Card Promo (optional - you can remove this) #}
            <div class="card text-center mt-4">
                <div class="card-body">
                    <i class="feather-truck fs-4 text-primary"></i>
                    <h6 class="mt-4 text-dark fw-bolder">TGV Delivery</h6>
                    <p class="fs-11 my-3 text-muted">Solution de livraison rapide et efficace</p>
                </div>
            </div>
        </div>
    </div>
</nav>
